@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

body{
    background-color: #260a07;
}

.header{
    text-align: center;
} .header h1{
    font-family: 'Rubik Dirt', cursive;
    color: #ffcb7c;
    font-size: 800%;
}